.ChristmasBody{
    margin:0;
}

.ChristmasBody h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    margin-top: 12%;
    margin-bottom: 0;
}
.Red{
    color: red;
}

.Green{
    color:green;
}

